#s-ae82eeee-d140-436d-b917-60757591492b > #backgroundBox {
  position: absolute;
}

#s-ae82eeee-d140-436d-b917-60757591492b > #alignmentBox {
  position: relative;
  max-width: 414.0px;
  max-height: 736.0px;
  width: 100%;
  height: 100%;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_1 {
  position: absolute;
  width: 414.0000000000003px;
  min-height: 84.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_1 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #2196F3;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Image_1 {
  position: absolute;
  width: 42.0px;
  height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Image_1 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Image_2 {
  position: absolute;
  width: 65.0px;
  height: 43.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Image_2 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Image_3 {
  position: absolute;
  width: 47.81864406779658px;
  height: 46.48731723678452px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Image_3 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_1 {
  position: absolute;
  width: 22.942626953125px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_1 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_2 {
  position: absolute;
  width: 413.0000000000002px;
  min-height: 620.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_2 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_3 {
  position: absolute;
  width: 413.00000000000045px;
  min-height: 591.9999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_3 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_3 > .backgroundLayer {
  border-radius: 30px 30px 0px 0px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #2196F3;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 30px 30px 0px 0px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_3 > .backgroundLayer {
  border-radius: 30px 30px 0px 0px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_2 {
  position: absolute;
  width: 367.48173913043524px;
  min-height: 48.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_2 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_1 {
  position: absolute;
  width: 363.357224080268px;
  min-height: 62.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Button_1 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_1 span {
  color: #2196F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_1 span#rtr-s-Button_1_0 {
  color: #2196F3;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_4 {
  position: absolute;
  width: 413.99999999999994px;
  min-height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_4 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_3 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_4 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_5 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_5 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_6 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_5 {
  position: absolute;
  width: 374.7408695652176px;
  min-height: 173.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(7.0px 7.0px 2.5px #404040);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_5 {
  box-shadow: 7.0px 7.0px 5px 0px #404040;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_5 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_7 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_7 span {
  color: #2196F3;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #2196F3;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_2 {
  position: absolute;
  width: 131.00000000000045px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Button_2 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2196F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2196F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2196F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2196F3;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_2 span {
  color: #2196F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_2 span#rtr-s-Button_2_0 {
  color: #2196F3;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_3 {
  position: absolute;
  width: 131.00000000000045px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Button_3 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2196F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2196F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2196F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2196F3;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_3 span {
  color: #2196F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_3 span#rtr-s-Button_3_0 {
  color: #2196F3;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_6 {
  position: absolute;
  width: 374.7408695652176px;
  min-height: 173.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(7.0px 7.0px 2.5px #404040);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_6 {
  box-shadow: 7.0px 7.0px 5px 0px #404040;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_6 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_8 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_8 span {
  color: #2196F3;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #2196F3;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_4 {
  position: absolute;
  width: 131.00000000000045px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Button_4 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_4 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2196F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2196F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2196F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2196F3;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_4 span {
  color: #2196F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_4 span#rtr-s-Button_4_0 {
  color: #2196F3;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_5 {
  position: absolute;
  width: 131.00000000000045px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-ae82eeee-d140-436d-b917-60757591492b #s-Button_5 {
  box-shadow: none;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_5 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2196F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2196F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2196F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2196F3;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_5 span {
  color: #2196F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ae82eeee-d140-436d-b917-60757591492b #s-Button_5 span#rtr-s-Button_5_0 {
  color: #2196F3;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-ae82eeee-d140-436d-b917-60757591492b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
