#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 > #backgroundBox {
  position: absolute;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 > #alignmentBox {
  position: relative;
  max-width: 414.0px;
  max-height: 736.0px;
  width: 100%;
  height: 100%;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_1 {
  position: absolute;
  width: 412.99999999999943px;
  min-height: 810.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_1 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_2 {
  position: absolute;
  width: 414.0000000000003px;
  min-height: 84.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_2 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #2196F3;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_3 {
  position: absolute;
  width: 393.2418472387599px;
  min-height: 151.89999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_3 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Image_1 {
  position: absolute;
  width: 135.28993730318226px;
  height: 151.9000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Image_1 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Image_1 > .borderLayer {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_1 {
  position: absolute;
  width: 236.73373610238943px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_1 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Image_2 {
  position: absolute;
  width: 234.29122283256072px;
  height: 41.13939393939381px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Image_2 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_2 {
  position: absolute;
  width: 385.83648611369347px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_2 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: underline;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_3 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_4 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_5 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_6 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_7 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_8 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_9 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_10 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_11 {
  position: absolute;
  width: 385.9182430568462px;
  min-height: 39.49999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_11 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_11 > .backgroundLayer > .colorLayer {
  background-color: #F9F9F9;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: center;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_11 span {
  color: #2196F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #2196F3;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Image_3 {
  position: absolute;
  width: 389.9182430568462px;
  height: 151.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Image_3 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_12 {
  position: absolute;
  width: 366.0px;
  min-height: 32.49999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_12 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_12 span {
  color: #2196F3;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #2196F3;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_13 {
  position: absolute;
  width: 236.18903261651806px;
  min-height: 29.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_13 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_13 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_14 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_15 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_16 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_17 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_17 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_18 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_18 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_18 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_19 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_19 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_20 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_20 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_20 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_21 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_21 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_21 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_22 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_22 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_22 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_22 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Button_1 {
  position: absolute;
  width: 374.2660694374664px;
  min-height: 49.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Button_1 {
  box-shadow: none;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #2196F3;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Image_4 {
  position: absolute;
  width: 17.05822400993293px;
  height: 18.09484536082448px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 #s-Image_4 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-d233632e-2aae-48f7-bd8d-4cfbb6ac5a31 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
